{%  extends 'cabecalho.html' %}

{% block title %} Cadastro{% endblock %}<!-- Se já houver outro block title na parte base, será sobregravado, mas se vc colocar
                                            a função super, vc concatena o original com o que vc quer colocar-->


{%  block content %}



<div zclass="w3-main" id="main"></div>

<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container" VALIGN="MIDDLE" ALIGN="CENTER" >
        <h1>Laboratórios </h1>
  </div>
</div>

<style>

.vertical-menu {
    width: 1000px;
    margin-top: 70px;
}

.vertical-menu a {
    background-color: #d3d3d3;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    height: 80px;
    width: 300px;

}

.vertical-menu a:hover {
    background-color: #ccc;
}
</style>

<form action="" method="post">
    <center>
    <div class="espaco">

            <div class="vertical-menu" style="margin-left: 200px">


                {% if laboratorios | length == 0 %}
                           <center style="margin-top: 100px">
                                <font face="verdana" color="#009688" size="5" style="margin-left: -400px;" >
                                  Nenhum laboratório disponível
                              </font>
                           </center>
                {% else %}
                      {%   for d in lab %}
                          {% set i = d[0] %}
                          {% set s = d[1] %}
                           <a href="/enviosub?disc_id={{ disc_id }}&lab_id={{ i.id }}" style="margin-left: -400px; width: 600px; height: 100px">
                              <font face="verdana" color="#009688" size="5" style="margin-left: -400px" >
                                  {{ i.titulo }}
                              </font>

                               <div style="background-color: #d3d3d3; width: 170px; border-color: #757575; margin-left: 350px; margin-top: -30px; text-align: center" class="formulariologin">
                                    {% if s == 0 %}
                                            Aprovado
                                    {% elif s == 1 %}
                                            Reprovado
                                    {% else %}
                                            Nenhuma Tentativa
                                     {% endif %}
                              </div>

                              <font face="verdana" color="black" size="3" style=" margin-left: -300px; margin-top: -300px " >
                                  Exercício {{ i.id }}

                              </font>

                                <hr style="height:1px; border:none; color:#000; background-color:#607d8b; margin-top: 0px; margin-bottom: 0px; "/>
                            </a>
                      {% endfor %}

                {% endif %}

            </div>


    </div>
    </center>
</form>

{%  endblock %}