{%  extends 'cabecalho.html' %}

{%  block content %}

<div zclass="w3-main" id="main"></div>

<div class="w3-teal" >
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
      <center>
          <h1>Home</h1>
      </center>

  </div>
</div>

<div class="pagina" >

    <div class="caixa" style=" width: 1300px; margin-left: 0px">

                {%   for i in disc %}
                     <a href="{{ url_for('menudisc') }}?disc={{i.id }}">
                        <div class="disciplina esconder" style="height: 300px">

                            <div class="titulodisc" style="height: 20px; text-align: center; vertical-align: middle">
                                <h6>{{ i.codigo_disc }}</h6>
                            </div>

                        <img src="{{ url_for('static', filename="professores/"+i.logo) }} " style="margin-top: 10px; width:175px; height:155px"/>

                        <h4>{{ i.nome_disc }}</h4>

                        <a href="{{ url_for('edicao') }}?disc={{ i.id }}">
                           <img src="{{url_for('static', filename='Novo.png')}}"  title="Editar Discplina" style="margin-bottom: 5px; width:40px; height:30px; margin-top: 5px"/>
                        </a>

                        <a href="{{ url_for('excluirdisc') }}?disc={{ i.id }}">
                          <img src="{{url_for('static', filename='delete_remove_bin_icon-icons.com_72400.png')}}" title="Excluir Discplina" style="width:40px; height:40px; margin-bottom: 5px; margin-top: 5px"/>
                        </a>


                        {% if i.visivel == True %}
                                <a href="{{ url_for('deixardiscinv') }}?disc={{ i.id }}">
                                    <img src="{{url_for('static', filename='2000px-Eye_open_font_awesome.svg.png')}}" title="Tornar visível somente para Professores"  class="mostrarparaaluno" style="margin-bottom: 2px; height: 40px; margin-top: 0px"/>
                                </a>
                        {% else %}
                               <a href="{{ url_for('deixardiscinv') }}?disc={{ i.id }}">
                                    <img src="{{url_for('static', filename='Eye_close_font_awesome.svg.png')}}" title="Tornar visível para Professores e Alunos"  class="mostrarparaaluno" style="margin-bottom: 2px; height: 40px; margin-top: 0px"/>
                               </a>
                        {% endif %}



                        </div>
                </a>


                {% endfor %}


                <a href="{{ url_for('novadisc') }}" >
                <div class="disciplina" style="height: 300px">

                    <div class="titulodisc" style="height: 20px;">
                        <h6>Nova Disciplina</h6>
                    </div>

                    <img src="{{url_for('static', filename='Editing-edit-icon.png')}}" style="margin-left:      5px; margin-top: 20px; width:200px; height:200px"/>

                </div>
                </a>


                 <a href="{{ url_for('novoProfessor') }}" >
                        <div class="disciplina" style="height: 300px">

                            <div class="titulodisc" style="height: 20px;">
                                <h6>Novo Professor</h6>
                            </div>

                            <img src="{{url_for('static', filename='4-user-icon.png')}}" style="margin-left:5px; margin-top: 30px; width:200px; height:200px"/>

                        </div>
                </a>

    </div>



</div>

{%  endblock %}