{%  extends 'base.html' %}

{%  block content %}

<div class="col-md-4 col-md-offset-4">

    <br><br><br>

    <label style="margin-left: 200px; margin-top: 10px">
            <h2><font face="verdana" color="#009688" size="6"> <strong>Login</strong> </font></h2>
    </label>

    <div style="margin-top: 5px; text-align:center; vertical-align: middle; margin-left: -50px">
        <img src="{{url_for('static', filename='23416304_1352064818236662_2129541561_n.png')}}" style="width: 450px; height: 650px;
         margin-left: -500px; margin-top: -130px"/>

    </div>

<br>
<form action="" method="POST" style="margin-left: 150px"> <!--se eu deixo action em branco eu envio as informações pra onde estou, no caso é o /login do defaults-->

    <div class="pagina">
        <div class="caixa" style="width: 400px; margin-top: -490px; margin-left: 100px " >

            {{ form.csrf_token }} <!-- Campo de segurança, para permitir que o formulário seja válidado  -->


                <label style="margin-left: 15px; margin-top: 10px">
                    <font face="verdana" color="#009688" size="4">Login </font>
                </label>
                {{ form.username(class="form-control", placeholder="Usuário") }}<!--passo a classe para estilizar a caixa de texto -->


                {% if form.errors.username %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                        {% for e in form.errors.username %} <!--Um for para exibir em lista os erros-->
                            <li>{{ e }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}


            <label style="margin-left: 15px; margin-top: 10px">
                <font face="verdana" color="#009688" size="4">Password</font>
            </label>
                {{ form.password(class="form-control", placeholder="Senha") }}<!--passo a classe para estilizar a caixa de texto -->

                    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

                 {% if form.errors.password %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                        {% for e in form.errors.password %}
                            <li>{{ e }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <br>

                <button type="submit" class="btn btn-default" > Entrar </button>

        </div>


    </div>


</form>

    <div style="margin-left: 250px; margin-top: 95px; width: 700px">
        <a href="{{ url_for('cadastro') }}">
            <font face="verdana" color="#009688" size="4">Sua primeira vez? Faça o cadastro....  </font>
        </a>
    </div>



</div>
{%  endblock %}