{%  extends 'cabecalho.html' %}

{% block title %} Cadastro{% endblock %}<!-- Se já houver outro block title na parte base, será sobregravado, mas se vc colocar
                                            a função super, vc concatena o original com o que vc quer colocar-->


{%  block content %}



<div zclass="w3-main" id="main"></div>

<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container" VALIGN="MIDDLE" ALIGN="CENTER" >
        <h1>Menu </h1>
  </div>
</div>

<style>

.vertical-menu {
    width: 1000px;
    margin-top: 70px;
}

.vertical-menu a {
    background-color: #d3d3d3;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    height: 80px;
    width: 300px;

}

.vertical-menu a:hover {
    background-color: #ccc;
}
</style>

<form action="" method="post">
    <center>
    <div class="espaco">

            <div class="vertical-menu" style="margin-left: 200px">


              <a href="{{ url_for('escolhaLab') }}?disc={{ id }}" style="margin-left: -400px; width: 600px; height: 100px">
                  <font face="verdana" color="#009688" size="5" style="margin-left: -330px" >
                      Laboratórios
                  </font>

                  <hr style="height:1px; border:none; color:#000; background-color:#607d8b; margin-top: 20px; margin-bottom: 0px; "/>
              </a>

              <a href="{{ url_for('relatorios') }}?disc_id={{ id }}" style="margin-left: -400px; width: 600px; height: 100px">
                  <font face="verdana" color="#009688" size="5" style="margin-left: -360px" >
                      Relatórios
                  </font>

                  <hr style="height:1px; border:none; color:#000; background-color:#607d8b; margin-top: 20px; margin-bottom: 0px; "/>
              </a>
            </div>

    </div>
    </center>
</form>

{%  endblock %}