{%  extends 'cabecalho.html' %}

{%  block content %}

<div zclass="w3-main" id="main"></div>

<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container" VALIGN="MIDDLE" ALIGN="CENTER" >
        <h1>Novo Professor</h1>
  </div>
</div>

    <center>
            <form action="/novoProfessor" method="POST">
            {{ form.csrf_token }}
                    <div style=" width: 1000px; height: 800px; background: #d3d3d3;">
                        <div style="width: 700px; height: 600px; border: 2px solid #607d8b; border-radius:20px; background: white; margin-top: 50px;">
                            <br>
                            <p class="textotopo" style="margin-left: -5px"><font face="verdana" color="#009688" size="6">Convite</font></p>

                            <p class="texto"><font face="verdana" color="#009688" > Nome do Professor Convidado:</font></p>

                            <!--<input type="text" name="Nome" size="70" class="formulariologin" placeholder="Nome Completo" class="texto" />-->
                            {{ form.nome(class="formulariologin", placeholder="Nome do Professor Convidado") }}<!--passo a classe para estilizar a caixa de texto -->

                            {% if form.errors.nome %}
                                <div class="mensagemerro">
                                    <ul>
                                    {% for e in form.errors.nome %} <!--Um for para exibir em lista os erros-->
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}



                            <p class="texto" style="margin-top: 5px"><font face="verdana" color="#009688" >E-mail do Professor Convidado:</font></p>

                            <!--<input type="text" name="Email" size="70" class="formulariologin" placeholder="E-mail" class="texto" />-->
                            {{ form.email(class="formulariologin", placeholder="E-mail do Professor Convidado") }}<!--passo a classe para estilizar a caixa de texto -->

                            {% if form.errors.email %}
                                <div class="mensagemerro">
                                    <ul>
                                    {% for e in form.errors.email %} <!--Um for para exibir em lista os erros-->
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                             <p class="texto" style="margin-top: 5px"><font face="verdana" color="#009688" >Escreva um convite:</font></p>
                            <!--<textarea class="formulariologin" style="resize: none; height: 100px" name="Texto">

                            </textarea>-->

                            {{ form.mensagem(class="formulariologin", placeholder="Digite uma Mensagem para o Professor Convidado", style="resize: none; height:150px") }}<!--passo a classe para estilizar a caixa de texto -->

                            {% if form.errors.mensagem %}
                                <div class="mensagemerro">
                                    <ul>
                                    {% for e in form.errors.mensagem %} <!--Um for para exibir em lista os erros-->
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}


                            <br>

                             <button type="submit" class="btn btn-default"  style="margin-top: 5px" class="formulariologin"> Convidar </button>


                        </div>
                    </div>
             </form>
    </center>






{%  endblock %}