{% extends 'cabecalho.html' %}
{% block content %}

<div zclass="w3-main" id="main"></div>

<div class="w3-teal" >
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
      <center>
          <h1>Perfil</h1>
      </center>

  </div>
</div>

<form action="/Perfil" method="post">
    <center>
    <div class="espaco">
            <div class="inscricao" style="height: 380px">

                <p class="textotopo" style="margin-top: 15px">
                    <font face="verdana" color="#009688" size="6" > Sua conta</font>
                </p>
                <p class="texto"><font face="verdana" color="#009688" > Username:</font></p>

                <input type="text" name="Nome" size="70" value="{{ user.username }}"  placeholder="Nome Completo" class="formulariologin" disabled="disabled"/>

                <p class="texto"><font face="verdana" color="#009688" >E-mail:</font></p>
                <input type="text" name="Email" size="70" value="{{ user.email }}"  placeholder="E-mail" class="formulariologin" disabled="disabled"/>

                <p class="texto"><font face="verdana" color="#009688" >Senha</font></p>
                <!--<input type="password" name="Senha" size="70" value="{{ user.password }}" placeholder="Senha" class="formulariologin"/>-->
                {{ form.password(class="formulariologin", placeholder = "*"*(user.password|length))  }}<!--passo a classe para estilizar a caixa de texto -->


                <br><br>
                <input type="submit" value="Salvar" class="formulariologin" style="width: 100px">

            </div>

    </div>
    </center>
</form>
{% endblock %}
